{# app/Resources/views/Emails/registration.html.twig #}
<h3>Password reset request</h3>

<p>Hi {{ name }}, you have requested a password reset on Yipiao app.</p>
<br>
<p>You can do it by clicking the following link: {{  link }}.
    The link will expire in one hour, so be fast!!</p>
<br>
<p>If you have not requested a password reset, please contact us on {{ admin_email }}</p>
<br>
<p>Yipiao team.</p>